@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

@import '~bulma/sass/utilities/_all';
@import '~fontawesone/css/all.css';

$primary: hsl(48, 100%, 67%);

$primary-invert: hsl(217, 71%, 53%);

$primary-dark: findDarkColor($primary);

$family-sans-serif: 'Nunito', sans-serif;

$colors: mergeColorMaps(
    (
        'primary': (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
    ),
    $custom-colors
);

@import '~bulma/bulma.sass';
